.DivMainDetalle{
    display: flex;
    justify-content: space-evenly;
}

.DivMainDetalle > div{
    flex-basis: 33%;
}

.DivDatosDetalle > *{
    flex-basis: 25%;
}

.DivDatosDetalle{
    display: flex;
    justify-content: space-evenly;
}

.DivDetalleDetalle{
    margin: 20px;
}

.DivPosterDetalle > img {
    width: 100%;
    object-fit: contain; /* Para que se ajuste a su etiqueta contenedora. */
}